.interest-card {
  align-items: center;
  display: -webkit-flex;
  margin-bottom: 3rem;

  .interest-logo {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  .content {
    margin-left: 2rem;
    .interest-title {
      font-weight: 500;
      font-size: 1.5rem;
    }
    .interest-desc {
      font-weight: 300;
      font-size: 1.2rem;
      width: 70%;
    }
  }
}
