@import "./breakpoints";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// Font Sizes
.title {
  font-size: 1.5rem;
  font-weight: 500;
  @include xl {
    font-size: 1.4rem;
  }
}
.desc {
  font-size: 1.1rem;
  font-weight: 300;
  @include xl {
    font-size: 1.4rem;
  }
}

.max-w-container {
  max-width: 1440px;
  margin: auto;
  padding: 2rem 12rem;

  @include xl {
    padding: 2rem 6rem;
  }
  @include l {
    padding: 2rem 4rem;
  }
  @include md {
    padding: 2rem;
  }
}

// Buttons
.std-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.02);
  }
}

// ToggleButton
.toggle-track {
  cursor: pointer;
  position: relative;
  background-color: rgb(181, 180, 180);
  border-radius: 10rem;
  height: 2.5rem;
  width: 5rem;

  .toggle-btn {
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 50%;
    background-color: white;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  &.active {
    background-color: #6bc0f9;
    .toggle-btn {
      transform: translateX(2.5rem);
    }
  }
}

// OverLay Util
.overlay-title-container {
  position: relative;
  .bg-logo {
    width: 30rem;
    height: 8rem;
    object-fit: contain;
    object-position: left;
    @include l {
      width: 20rem;
    }
    @include md {
      width: 15rem;
    }
  }
  .overlay-title {
    font-size: 2.5rem;
    left: 0;
    top: 0;
    transform: translateY(40%);
    position: absolute;

    @include l {
      font-size: 2rem;
      transform: translateY(70%);
    }
  }
}

// Wifi symbol animation
@mixin wifi-symbol($size, $circleColor) {
  .wifi-symbol {
    display: none;

    [foo],
    & {
      display: block;
      position: absolute;
      top: 50%;
      display: inline-block;
      width: $size;
      height: $size;
      margin-top: 0 - $size - $size * 0.25;

      -ms-transform: rotate(-45deg) translate(-100px);
      -moz-transform: rotate(-45deg) translate(-100px);
      -o-transform: rotate(-45deg) translate(-100px);
      -webkit-transform: rotate(-45deg) translate(-100px);
      transform: rotate(-45deg) translate(-100px);
    }
    .wifi-circle {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      font-size: $size/7;
      position: absolute;
      bottom: 0;
      left: 0;
      border-color: $circleColor;
      border-style: solid;
      border-width: 1em 1em 0 0;
      -webkit-border-radius: 0 100% 0 0;
      border-radius: 0 100% 0 0;

      opacity: 0;
      -o-animation: wifianimation 3s infinite;
      -moz-animation: wifianimation 3s infinite;
      -webkit-animation: wifianimation 3s infinite;
      animation: wifianimation 3s infinite;

      &.first {
        -o-animation-delay: 800ms;
        -moz-animation-delay: 800ms;
        -webkit-animation-delay: 800ms;
        animation-delay: 800ms;
      }
      &.second {
        width: 5em;
        height: 5em;
        -o-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -webkit-animation-delay: 400ms;
        animation-delay: 400ms;
      }
      &.third {
        width: 3em;
        height: 3em;
      }
      &.fourth {
        width: 1em;
        height: 1em;
        opacity: 1;
        background-color: $circleColor;
        -o-animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        animation: none;
      }
    }
  }
}

@include wifi-symbol(200px, #6bc0f9);

@include breakpoint(650px) {
  @include wifi-symbol(100px, #6bc0f9);
}

@keyframes wifianimation {
  0% {
    opacity: 1;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-moz-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
