.horizontal-drag {
  max-width: 1440px;
  margin: auto;

  .track {
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 4rem 1rem;
    overflow: scroll;
    transition: all 1s;

    &.active {
      transform: scale(0.98);
    }
    &:hover {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .slide {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-width: 25rem;
    height: 20rem;
    &:hover {
      cursor: pointer;
    }
  }
}
