.project-card {
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
  overflow: hidden;
  height: 18rem;
  opacity: 0;
  transform: translateX(-2rem);
  transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }

  &,
  .content {
    display: flex;
    align-items: flex-start;
  }

  .project-logo {
    width: 3rem;
  }

  .project-img {
    width: 30rem;
    height: 100%;
    object-fit: cover;
  }

  .content {
    padding: 2rem;
    flex-direction: column;
    .project-sub-title {
      font-size: 1.1rem;
      font-weight: 500;
      color: grey;
    }
    .std-btn {
      margin: 2rem 0;
    }
  }
}
