@import "../../util/breakpoints";
.home {
  &.pre-load {
    height: 0;
    overflow: hidden;
  }

  .max-w-container {
    animation: fadeIn 0.7s ease-in-out 2s;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .nav-bottom {
    display: -webkit-flex;
    margin: auto;
    width: 97%;
  }

  // Intro
  .intro {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    position: relative;
    margin-top: 4rem;

    a {
      margin: 5rem auto 1rem;

      @include md {
        margin: 1rem auto;
      }
    }

    .red-text {
      color: red;
      font-size: 1.3rem;
      font-weight: 600;
      @include md {
        font-size: 1rem;
      }
    }
    .title {
      font-size: 5rem;
      font-weight: 500;
      margin: 0;
      @include xl {
        font-size: 4rem;
      }
      @include l {
        font-size: 3rem;
      }
      @include breakpoint(375px) {
        font-size: 2.5rem;
      }
    }

    .typewriter {
      width: fit-content;
      .title {
        font-family: monospace;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 0.2rem solid black; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        animation: typing 2s steps(11, end) 2s, blink-caret 0.5s step-end 12 2s;
        width: fit-content;
      }
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: black;
      }
    }

    .sub-title {
      font-weight: 200;
      font-size: 1.7rem;
      @include xl {
        font-size: 1.6rem;
      }
      @include l {
        font-size: 1rem;
        text-align: justify;
      }
    }

    .vsmalltext {
      font-size: 1.3rem;
      font-weight: 400;
      color: grey;
      margin-bottom: 1rem;
      @include xl {
        font-size: 0.9rem;
      }
    }

    .std-btn {
      margin: 2rem auto;

      &,
      .red {
        background-color: #e84a42;
        color: white;
      }
      @include md {
        font-size: 0.8rem;
        margin: auto;
      }
    }

    .tag-line {
      font-size: 2.5rem;
      font-family: "Shadows Into Light Two", cursive;
      text-align: center;
      position: relative;
      width: fit-content;
      margin: 4rem auto;
      .slashed-out {
        text-decoration: line-through;
        text-decoration-color: red;
      }

      .floating-text {
        position: absolute;
        top: -2.5rem;
        right: -4rem;
        transform: rotate(20deg);
      }
      @include xl {
        font-size: 2rem;
      }
      @include l {
        font-size: 1.5rem;
      }
      @include breakpoint(550px) {
        font-size: 1rem;
        margin: 2rem auto;
      }
      @include md {
        .floating-text {
          top: -1rem;
          right: -2rem;
        }
      }
    }

    .video-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      object-fit: contain;
      z-index: -1;
    }

    @include lp {
      margin-top: 8rem;
    }
    @include l {
      margin-top: 4rem;
    }
    @include md {
      margin-top: 0;
    }
  }

  // Chat With Me
  .interest-card-container {
    display: -webkit-flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  // My Projects
  .project-card-container {
    display: -webkit-flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  #chat-with-me,
  #my-projects {
    margin: 4rem 0;
  }
}
