.home {
  .nav-bottom {
    display: -webkit-flex;
    margin: auto;
    width: 97%;
  }

  // Intro
  .intro {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    height: 70vh;

    a {
      margin: auto;
    }

    .red-text {
      color: red;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .title {
      font-size: 5rem;
      font-weight: 500;
      margin: 0;
    }

    .typewriter {
      width: fit-content;
      .title {
        font-family: monospace;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 0.2rem solid black; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        animation: typing 2s steps(11, end), blink-caret 0.5s step-end 12;
        width: fit-content;
      }
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: black;
      }
    }

    .sub-title {
      font-weight: 200;
      font-size: 1.7rem;
    }

    .vsmalltext {
      font-size: 1.3rem;
      font-weight: 400;
      color: grey;
      margin-bottom: 1rem;
    }

    .std-btn {
      margin: 2rem auto;

      &,
      .red {
        background-color: #e84a42;
        color: white;
      }
    }

    .tag-line {
      font-size: 2.5rem;
      font-family: "Shadows Into Light Two", cursive;
      text-align: center;
      position: relative;
      width: fit-content;
      margin: 4rem auto;
      .slashed-out {
        text-decoration: line-through;
        text-decoration-color: red;
      }

      .floating-text {
        position: absolute;
        top: -2.5rem;
        right: -4rem;
        transform: rotate(20deg);
      }
    }
  }

  // Chat With Me
  .interest-card-container {
    display: -webkit-flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  // My Projects
  .project-card-container {
    display: -webkit-flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  #chat-with-me,
  #my-projects {
    margin-bottom: 15rem;
  }
}
