.with-url,
.without-url {
  background-image: url("../../../public/images/GridTop.png");
  background-size: (100%, 0);
  background-repeat: no-repeat;
  position: relative;
}

.url-bar {
  padding: 1rem 0 0;
  max-width: 85%;
  margin: 0 7%;
}
