.with-url,
.without-url {
  background-image: url("../../../public/images/GridTop.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.url-bar {
  position: relative;
  width: 95%;
  margin-left: 3rem;
}
