@import "../../util/breakpoints";
.navbar,
.footer {
  max-width: 95%;
  margin: auto;

  .nav__container {
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;

    &,
    .nav-item-container {
      align-items: center;
      display: -webkit-flex;
    }

    .nav-logo {
      width: 10rem;
    }

    .nav-item-container {
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      font-weight: 300;

      a {
        color: black;
        text-decoration: none;
      }

      .nav-item {
        margin-left: 2rem;
        .bot-border {
          background-color: black;
          height: 0.03rem;
          width: 0;
          transition: width 0.2s ease-in-out;
        }

        &:hover {
          .bot-border {
            width: 90%;
          }
        }
      }

      .dropdown-container {
        position: relative;
        margin-left: 2rem;
        .nav-item {
          margin-left: unset;
        }
        .dropdown {
          background-color: white;
          border-radius: 4px;
          display: -webkit-flex;
          flex-direction: column;
          gap: 0.5rem;
          opacity: 0;
          padding: 1rem;
          position: absolute;
          right: 0;
          transform: translateY(0);
          transition: all 0.5s ease-in-out;
          width: 200%;
          visibility: hidden;
          z-index: -2;
          a {
            width: fit-content;
          }
        }
        .nav-item:hover ~ .dropdown,
        .dropdown:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          visibility: visible;
          opacity: 1;
          transform: translateY(1rem);
          z-index: 1;
        }
      }
    }
  }
}

.navbar {
  max-width: 100%;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(0);
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out 0.2s;

  .hamburger-menu {
    display: none;
  }

  &.bg-fade {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  // &.toggle-effect {
  //   transform: translateY(-15rem);
  // }

  @include l {
    height: 5rem;
    transition: height 0.5s ease-in-out;

    &.open {
      height: 24rem;
    }
    .hamburger-menu {
      display: unset;
      font-size: 2rem;
    }

    .nav__container {
      position: relative;
      .nav-item-container {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 4rem;
        left: 0;
        opacity: 0;
        visibility: visible;
        transition: all 0.5s ease-in-out;
        z-index: -5;

        .dropdown-container {
          height: 13rem;
          .dropdown {
            background-color: transparent;
            left: 0;
            padding: 0;
            width: max-content;
            transition: all 0.5s ease-in-out;
          }
        }

        &.show {
          display: -webkit-flex;
          width: 100%;
          opacity: 1;
          visibility: visible;
          z-index: 1;

          .dropdown-container {
            .dropdown {
              opacity: 1;
              visibility: visible;
              .nav-item {
                margin-left: 1rem;
              }
            }

            .nav-item:hover ~ .dropdown,
            .dropdown:hover {
              box-shadow: none;
              transform: unset;
            }
          }
        }
      }
    }
  }

  @include md {
    padding: 1rem 0;
  }
}
