@import "../../util/breakpoints";

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  .nav__container {
    align-items: center;
    display: -webkit-flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 1800px;
    margin: auto;
    position: relative;

    .logo {
      width: 8rem;
    }

    .nav-items {
      display: -webkit-flex;
      margin-left: auto;
      .nav-item {
        display: -webkit-flex;
        flex-direction: column;
        font-size: 1.2rem;
        margin-left: 2rem;
        width: fit-content;
        a {
          text-decoration: none;
          color: black;
          &:hover ~ .bot-border {
            width: 90%;
          }
        }
        .bot-border {
          background-color: black;
          display: inline-flex;
          height: 2px;
          width: 0;
          transition: width 0.3s ease-in-out;
        }
      }
      .dropdown-container {
        position: relative;
        & a:hover ~ .nav-dropdown,
        .nav-dropdown:hover {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
          z-index: 2;
        }
        .nav-dropdown {
          background-color: white;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

          border-radius: 12px;
          display: -webkit-flex;
          flex-direction: column;
          top: 2.5rem;
          right: 0;
          padding: 1rem;
          width: max-content;
          position: absolute;
          transition: all 0.5s ease-in-out;
          transform: translateY(-10px);
          visibility: hidden;
          opacity: 0;
          z-index: -3;
          .nav-item {
            margin-left: 0;
            margin-bottom: 0.5rem;
            transition: transform 0.2s ease-in-out;
            &:last-child {
              margin-bottom: unset;
            }
            &:hover {
              transform: scale(0.95);
            }
          }
        }
      }
    }

    .hamburger-icon {
      font-size: 2rem;
      display: none;
      position: absolute;
      right: 2rem;
      @include l {
        display: unset;
      }
    }

    @include l {
      align-items: flex-start;
      flex-direction: column;

      .nav-items {
        align-items: flex-end;
        background-color: white;
        position: absolute;
        top: 4rem;
        flex-direction: column;
        width: 80%;
        &,
        .nav-item {
          margin-left: 0;
        }

        .dropdown-container a:hover ~ .nav-dropdown {
          // box-shadow: unset;
          right: 0;
          top: 0;
          padding: 1rem;
          .nav-item {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
  &.bg-white {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
