.carousel {
  overflow: hidden;

  .carousel-track {
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .carousel-img {
      width: 70%;
    }
  }

  .indicators {
    display: flex;
    justify-content: center;
    .carousel-btn {
      cursor: pointer;
      border-radius: 50%;
      background-color: rgb(185, 184, 184);
      border: none;
      width: 8px;
      height: 8px;
      padding: 1px;
      margin: 0 5px;

      &.active {
        background-color: grey;
      }
    }
  }
}
