@import "../../util/breakpoints";
@import "../ProjectTemplate1/projecttemplate.scss";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.project-info {
  .screens-container {
    align-items: center;
    display: -webkit-flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 3rem 0 5rem;
    padding: 2rem 1rem;
    .screen {
      width: 17rem;
    }
  }

  .motion-design {
    margin: 0 0 15rem;
    .container {
      align-items: center;
      display: -webkit-flex;
      .left {
        flex: 1;
        h1 {
          font-size: 4rem;
          font-weight: 600;
          span {
            color: #fa7c48;
            font-weight: 400;
            font-family: "Pacifico", cursive;
          }
        }
      }
      .right {
        flex: 2;
        .mobile-wrapper {
          margin-left: auto;
          width: 30rem;
          position: relative;
          .mobile-mockup {
            position: absolute;
            height: 105%;
            margin-left: auto;
            right: 8.01rem;
            top: -1.3rem;
            pointer-events: none;
          }
          .video {
            border-radius: 25px;
            width: 320px;
            height: 700px;
          }
        }
        @include lp {
          margin-top: 5rem;
          .mobile-wrapper {
            width: fit-content;
            .mobile-mockup {
              right: -1.5rem;
              top: -1rem;
            }
            .video {
              width: 255px;
              height: 550px;
            }
          }
        }
      }
      @include lp {
        flex-direction: column;
        .left {
          text-align: center;
        }
      }
    }
  }
}
