@import "../../util/breakpoints";
.footer {
  max-width: unset;
  background-image: url("../../../public/images/FooterBg.png");
  background-position: bottom;
  background-size: (100%);
  background-repeat: no-repeat;
  margin: 0;
  padding: 23rem 0 0;
  .nav__container {
    justify-content: center;
    max-width: 95%;
    margin: auto;
  }
  .copy-right {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(100%);
    font-weight: 300;
    margin: auto;
    width: 8rem;
  }
  .scroll-top {
    cursor: pointer;
    position: absolute;
    right: 4rem;
    width: 3rem;
    transform: translateY(-5rem);
  }

  @include l {
    padding: 25rem 0 0;
  }
}
