@import "../../util/breakpoints";
.prototype-desktop-carousel {
  position: relative;

  .arrow-container {
    color: #5a5960;
    font-size: 3rem;
    display: -webkit-flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    transform: translateY(18rem);
    position: absolute;
    .arrow {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: black;
        cursor: pointer;
        transform: scale(1.25);
      }
    }
    @include lp {
      display: none;
    }
  }
  .track-container {
    align-items: center;
    display: -webkit-flex;
    justify-content: flex-start;
    height: 700px;
    margin: auto;
    width: 775px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    .mac-img {
      position: absolute;
      height: 640px;
      margin: auto;
      top: 2.5rem;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .track {
      height: 540px;
      align-items: center;
      display: flex;
      gap: 2rem;
      justify-content: center;
      transition: transform 0.5s ease-in-out;
      .slide {
        height: 27rem;
        width: 46.5rem;
        flex-shrink: 0;
        opacity: 0.5;
        transition: transform 0.4s ease-in-out;
        transform: scale(0.9);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1);
        }
        &.active {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }
    .indicators {
      display: -webkit-flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      .carousel-btn {
        cursor: pointer;
        border-radius: 50%;
        background-color: rgb(185, 184, 184);
        border: none;
        width: 8px;
        height: 8px;
        padding: 1px;
        margin: 0 5px;

        &.active {
          background-color: grey;
        }
      }
    }
    @include lp {
      height: 570px;
      width: 650px;
      .mac-img {
        height: 500px;
      }
      .track {
        height: 440px;
        .slide {
          height: 21.5rem;
          width: 36.5rem;
        }
      }
    }
    @include l {
      height: 380px;
      width: 400px;
      .mac-img {
        height: 300px;
      }
      .track {
        height: 295px;
        .slide {
          height: 12.6rem;
          width: 22rem;
        }
      }
    }
    @include breakpoint(550px) {
      height: 270px;
      width: 100%;
      .mac-img {
        height: 200px;
      }
      .track {
        height: 222px;
        .slide {
          height: 8.5rem;
          width: 14.5rem;
        }
      }
    }
  }
}
