@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Shadows+Into+Light+Two&display=swap");
@import "./util/util";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e84a42;
  }
  &::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #e84a42;
  }

  &::selection {
    color: white;
    background: #e84a42;
  }
}

.App {
  position: relative;
}
