.project-info {
  &.pre-load {
    height: 0;
    overflow: hidden;
  }

  .max-w-container {
    animation: fadeIn 0.7s ease-in-out 2s;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .sub-title {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .flex-container {
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .intro {
    .flex-container {
      align-items: flex-start;
      gap: 2rem;
      margin: 3rem 0;
      .left {
        flex: 2;
        .logo {
          width: 8rem;
        }
        .title {
          font-size: 4rem;
          font-weight: 700;
        }
        .sub-title {
          color: grey;
        }
      }
      .mock-img {
        flex: 3;
        width: 65%;
      }
    }
  }

  .over-view {
    margin: 5rem 0;
    .flex-container {
      gap: 4rem;
      .content-box {
        width: 40%;
        .sub-title {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .design-process,
  .prototyping {
    .sub-title:first-child {
      text-align: center;
    }
    .sub-title {
      margin: 8rem 0 2rem;
    }
  }

  .design-process {
    .flex-container {
      gap: 4rem;
      div {
        flex: 1;
      }
    }

    .user-journey-img {
      cursor: pointer;
      display: -webkit-flex;
      width: 60%;
      margin: auto;
    }
    .problem {
      align-items: center;
      display: -webkit-flex;
      justify-content: center;
      gap: 1rem;
      flex-direction: column;
      img {
        width: 5rem;
      }
    }
  }

  .prototyping {
    margin-bottom: 16rem;
  }
}
